@import "./app.css";
@import "./highlight.css";
@import "tailwindcss";

@theme {
                          /* Mobile: 0-375px */
  --breakpoint-md: 376px; /* Tablet: 376px-788px */
  --breakpoint-lg: 789px; /* Desktop: 789px+ */

  --color-background: theme(colors.neutral.50); /* #FAFAFA */
  --color-foreground: theme(colors.black); /* #000000 */
  --color-primary: theme(colors.red.500); /* #EC484B */

  --font-body: Inter, Arial, Helvetica, sans-serif;
  --font-heading: Inter, Arial, Helvetica, sans-serif;
}

body {
  background: var(--color-background);
  color: var(--color-foreground);
  font-family: var(--font-body);
}

